@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Travel.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @*Datable*@
    <link rel="stylesheet" href="~/lib/dataTable/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/dataTable/DataTables-1.13.3/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/dataTable/Buttons-2.3.5/css/buttons.bootstrap4.min.css" />


    @*animate*@
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    @*<link rel="stylesheet" href="~/lib/font-awresome/font-awesome-6.30.all.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/toastr/css/toastr.min.css">
</head>
<body>
    <header>
            

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Travel</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Autor" asp-action="Index">Autor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Editorial" asp-action="Index">Editorial</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Libro</a>
                        </li>
                    </ul>
                    
                </div>

                <div >
                    Hola @User.Identity.Name

                    <a class="nav_link btn btn-warning" asp-area="" asp-controller="User" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                      
                        <span class="nav_name">Salir</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="container-modal-procesando" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" style="text-align:center;font-weight:bold">
                    <p id="mensaje-modal-procesando">Por favor espere</p>
                    <div align="center"><img width="100%" src="~/img/cargando_5.gif"></div>
                </div>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Travel.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/js/toastr.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>

    @*datable*@
    <script src="~/lib/dataTable/datatables.min.js"></script>
    <script src="~/lib/dataTable/DataTables-1.13.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/dataTable/Buttons-2.3.5/js/buttons.bootstrap4.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>



<script type="text/javascript">
    $(document).ready(function () {
    });

    var spinnerVisible = false;
    function showProgress(title) {
        if (!spinnerVisible) {
            
            if (title != undefined && title != null) {
                $("#mensaje-modal-procesando").html(title);
            }
            else {
                $("#mensaje-modal-procesando").html('Por favor espere');
            }
            //$("#container-modal-procesando").modal({ backdrop: 'static', keyboard: false});
            $('#container-modal-procesando').modal('show')

            spinnerVisible = true;
        }
    }

    function hideProgress() {
        if (spinnerVisible) {
            console.log("se cierra modal");
            setTimeout(function () {
                $('#container-modal-procesando').modal('hide');
            }, 600);
            //$('#container-modal-procesando').modal('hide');
            spinnerVisible = false;
        }
    }


    function toastMessage(type, message) {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        Toast.fire({
            icon: type,
            title: message
        });
    }


    function swaMessage(statusCode, message) {

        if (statusCode == 200) {
            Swal.fire('¡Bien!!', message, 'success');
        } else if (statusCode == 400) {
            Swal.fire('¡Alerta!', message, 'warning');
        } else {
            Swal.fire('¡Opps!', message, 'error');
        }
    }
</script>
